body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::-webkit-scrollbar{
    height: 0;
    width: 0;
    background-color: unset;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "SEBANG-Gothic";
  src: url("./fonts/SEBANG-Gothic.ttf") format("truetype");
}

@font-face {
  font-family: "SEBANG-Gothic-Bold";
  src: url("./fonts/SEBANG-Gothic-Bold.ttf") format("truetype");
}